flows/data_ingestion.yml
id: data_ingestion
namespace: my.namespace

variables:
  data_files:       
    [
      "resale_price_1990_1999.parquet",
      "resale_price_2000_2012.parquet",
      "resale_price_2012_2014.parquet",
      "resale_price_2015_2016.parquet",
      "resale_price_2017_now.parquet",
      "hdb_property_info.parquet"
    ]

tasks:
  - id: execute_python
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:slim
    warningOnStdErr: false
    outputFiles: "{{render(vars.data_files)}}"
    beforeCommands:
      - pip install requests
      - pip install pandas
      - pip install pyarrow
    commands:
      - python data_ingestion_opensg.py

  - id: upload_to_gcs
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{render(vars.data_files)}}"
    tasks:
      - id: upload_one_file
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.execute_python.outputFiles[taskrun.value]}}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{taskrun.value}}"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"